{% extends "Components/base.html" %}

{% block body %}
    <div class="container">
        <h2>Inside Container</h2>
        {% for user in users %}
            {% if user.username == "admin" %}
                {{ user.content_set.all }}
            {% else %}
                <h2>{{ user.username }}</h2>
            {% endif %}
        {% endfor %}
    </div>

    <div class="container">
        {{ users }}
        <h2>Git works</h2>
    </div>

{% endblock body %}


{% block js %}
    <script>
        console.log("hello2");  // print("hello")
    </script>
{% endblock js %}
